.detailsContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: space-around;
    overflow: hidden;
    margin: 100px;
    padding: 50px;
    background-color: #ffffff;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.50));
}

.detailsContainer .detailsMainTitle
{
    font-size: 32px;
    margin-bottom: 50px;
}

.detailsList
{
    padding: 0 50px;
}

.detailsListText
{
    margin: 10px 0;
}

.detailsMovieContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: space-around;
    overflow: hidden;
}