*
{
  margin: 0 auto;
  padding: 0;

}
body{
  background-color:#EAE0D5 ;
  color:#26333A;
  font-family: 'Lato', sans-serif;

}
.container
{
    width: 75vw;
    margin: 40px auto;
}
.titleLogo
{
  text-align: center;
}
.title
{
  font-size: 38px;
  font-weight:lighter;


}

.searchInput
{

  width: 100%;
  padding: 15px;
  margin: 20px 0px 20px 0px;
  

  border-radius: 5px;
  border: 2px solid #eeeeee;

  letter-spacing: 0.05em;
  font-size: 20px ;
  font-weight: 300;
  color: #aca9a9;

  transition: 0.4s ease-out;

} 

.searchInput:focus
{
  outline: none;
  border: 2px solid #eeeeee;
  box-shadow: 0px 0px 8px 3px #aca9a9;
}
.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result {
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.results .result img {
  display: block;
  width: 100%;
}

.results .result h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}

.movieCard{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  overflow: hidden;
  width: 200px;
  height: 375px;
  margin: 0px 1px 25px 1px;
}

.moviePoster{
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

.moviePosterPlace{
  position: relative;
  overflow: hidden;
}

.moviePosterPlace .moviePosterOverlay{
  position: absolute;
  height: 99%;
  width: 100%;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 15px;
}

.moviePosterPlace:hover .moviePosterOverlay{
  background: rgba(0,0,0,0.7);
  opacity: 1;
}

.moviePosterOverlayText{
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out 0s;
}

.moviePosterPlace:hover .moviePosterOverlayText{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.moviePosterOverlayText a{
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.movieTitle{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.movieInformations{
}

.desc_movie{
}

.moviesList{
  display : flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width : 100%;
}

.subtitle{
  font-size: 40px ;
  padding: 20px;
  margin: 0px 0px 0px 50px;
}

/*******************
     Movie PopUp
*******************/
.overlay{
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 300ms;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.overlay:target{
  visibility: visible;
  opacity: 1;
}

.popup{
  position: relative;
  margin: 100px auto;
  padding: 20px;
  background: #fcfcfc;
  border-radius: 10px;
  width: 50%;
  transition: all 1s ease-in-out;
}

.popup h2{
  font-size: 32px;
  margin-top: 10px;
  color: #000000;
}
.popup .close{
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 500ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover{
  color: #c22509;
}
.popup .movieInformations{
  margin: 50px;
  overflow: auto;
}

.movieInformations div{
  margin: 10px;
}