.navigation{
    display : block;
    margin: 0 auto;
    width: 100%;
    padding: 20px; 
    background: #ffffff;
}


.nav-active {
    margin: 0px 30px 0px 0px; 
    color: #5C5141;
    text-decoration : none;
    background: #c6AC8F;
    padding: 10px;
  }